DirectoryIndex index.php
Options -MultiViews

RewriteEngine On
RewriteBase /

RewriteRule ^admin/?$ index.php [L,QSA]
RewriteRule ^admin/(.*)$ $1 [L,QSA]

RewriteRule ^$ index.php [L,QSA]
RewriteRule ^login/?$ login.php [L,QSA]
RewriteRule ^logout/?$ logout.php [L,QSA]
RewriteRule ^two-factor/?$ two-factor.php [L,QSA]
RewriteRule ^two-factor-challenge/?$ two-factor-challenge.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]
